In [5]:
import pandas as pd
# load a sample CSV from web
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df = pd.read_csv(url)
df.head()
# quick clean
df.columns = [c.lower() for c in df.columns]
df = df.rename(columns={"1958":"y1958"})
# inspect
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   month    12 non-null     object
 1    "1958"  12 non-null     int64
 2    "1959"  12 non-null     int64
 3    "1960"  12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 516.0+ bytes

           "1958"      "1959"      "1960"
count   12.000000   12.000000   12.000000
mean   381.000000  428.333333  476.166667
std     64.530472   69.830097   77.737125
min    310.000000  342.000000  390.000000
25%    339.250000  387.500000  418.500000
50%    360.500000  406.500000  461.000000
75%    411.750000  465.250000  514.750000
max    505.000000  559.000000  622.000000